services:

  nginx:
    restart: unless-stopped
    build: ./requirements/nginx/
    container_name: nginx
    ports:
      - "443:443"
    volumes:
      - nextcloud:/var/www/nextcloud
    networks:
      - inception
    depends_on:
      - nextcloud

  mariadb:
    restart: unless-stopped
    build: ./requirements/mariadb/
    container_name: mariadb
    env_file: ./.env
    ports:
      - "3306:3306"
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - inception

  nextcloud:
    restart: unless-stopped
    build: ./requirements/nextcloud/
    container_name: nextcloud
    env_file: ./.env
    ports:
      - "9000:9000"
    volumes:
      - nextcloud:/var/www/nextcloud
    networks:
      - inception
    depends_on:
      - mariadb

networks:
  inception:
    driver: bridge

volumes:
  mariadb:
    name: mariadb
  nextcloud:
    name: nextcloud

