services:

  nginx:
    restart: unless-stopped
    build: ./requirements/nginx/
    container_name: nginx
    ports:
      - "443:443"
    volumes:
      - nextcloud:/var/www/nextcloud
    networks:
      - inception
    depends_on:
      - nextcloud

  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    ports:
      - "4533:4533"
    restart: unless-stopped
    environment:
      # This is part of my reverse proxy setup; see below.
      ND_BASEURL: /navidrome
      # Re-scan the music library every 15 minutes.
      ND_SCANSCHEDULE: "@every 15m"
      ND_LOGLEVEL: info
      ND_SESSIONTIMEOUT: 24h
    volumes:
      - "navi-data:/data"
      - "nextcloud-music:/music:ro"
    networks:
      - inception

  mariadb:
    restart: unless-stopped
    build: ./requirements/mariadb/
    container_name: mariadb
    env_file: ./.env
    ports:
      - "3306:3306"
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - inception

  nextcloud:
    restart: unless-stopped
    build: ./requirements/nextcloud/
    container_name: nextcloud
    env_file: ./.env
    ports:
      - "9000:9000"
    volumes:
      - nextcloud:/var/www/nextcloud
      - nextcloud-music:/var/www/music
    networks:
      - inception
    depends_on:
      - mariadb

networks:
  inception:
    driver: bridge

volumes:
  mariadb:
    name: mariadb
  nextcloud:
    name: nextcloud
  nextcloud-music:
    name: nextcloud-music
  navi-data:
    name: navi-data

