services:
  nginx:
    image: nginx
    container_name: nginx
    restart: unless-stopped
    ports:
      - 8081:8081
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:z
    networks:
        - homelab

  tricount:
    build: ./tricount/
    container_name: tricount
    networks:
      - homelab
    ports:
      - "8009:8009"

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WEBUI_PORT=8082
      - TORRENTING_PORT=6881
    volumes:
      - qbittorrent_conf:/config
      - $VOL_PATH/data/downloads:/downloads:z #optional
    ports:
      - 8082:8082
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped
    networks:
      - homelab

  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - GITEA__server__ROOT_URL="http://localhost/gitea"
    restart: always
    volumes:
      - $VOL_PATH/data/gitea:/data:z
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3000:3000"
      - "222:22"
    networks:
      - homelab

  jellyfin:
    image: jellyfin/jellyfin
    environment:
      - BaseUrl=/jellyfin
    container_name: jellyfin
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    volumes:
      - $VOL_PATH/jellyfin/config:/config:z
      - $VOL_PATH/data/media:/media:z
      - jellyfin_cache:/cache
    restart: 'unless-stopped'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    networks:
      - homelab

  bookstack_db:
    image: lscr.io/linuxserver/mariadb:latest
    container_name: bookstack_db
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - MYSQL_ROOT_PASSWORD=supersecretroot   # change this
      - MYSQL_DATABASE=bookstackapp
      - MYSQL_USER=bookstack
      - MYSQL_PASSWORD=supersecretpassword    # change this
    volumes:
      - $VOL_PATH/data/bookstack/db:/config:z
    restart: unless-stopped
    networks:
      - homelab

  bookstack:
    image: lscr.io/linuxserver/bookstack:latest
    container_name: bookstack
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - APP_URL=http://localhost:8081/bookstack
      - DB_HOST=bookstack_db
      - DB_PORT=3306
      - DB_USERNAME=bookstack
      - DB_PASSWORD=supersecretpassword
      - DB_DATABASE=bookstackapp
      - APP_KEY=base64:KfUnk1ey+L+Infw+S8jFvTdRLxM5mwJBepNzA7Dkbh8=
    volumes:
      - $VOL_PATH/data/bookstack/app:/config:z
    ports:
      - 6875:80
    restart: unless-stopped
    depends_on:
      - bookstack_db
    networks:
      - homelab

  kiwix:
    image: ghcr.io/kiwix/kiwix-serve:latest
    container_name: kiwix
    volumes:
      - ./kiwix-data:/data
    command: "*.zim"
    restart: unless-stopped
    networks:
      - homelab

  #   image: ghcr.io/kiwix/kiwix-serve
  #   container_name: kiwix
  #   ports:
  #     - '8080:8080'
  #   volumes:
  #     - $VOL_PATH/data/zim-files:/data:z
  #   command:
  #     # - '--urlRootLocation=localhost/kiwix/'
  #     - '*.zim'
  #   networks:
  #     - homelab

volumes:
  qbittorrent_conf:
  jellyfin_cache:

networks:
  homelab:
    driver: bridge
