services:
  nginx:
    image: nginx
    container_name: nginx
    restart: unless-stopped
    ports:
      - 8081:8081
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:z
    networks:
        - homelab

  tailscale:
    image: tailscale/tailscale:latest
    container_name: tailscale
    hostname: homelab
    environment:
      - TS_AUTHKEY=$TAILSCALE_KEY
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_USERSPACE=false
    volumes:
      - tailscale-data:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    restart: unless-stopped
    network_mode: host

  tricount:
    build: ./tricount/
    container_name: tricount
    networks:
      - homelab
    ports:
      - "8009:8009"

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WEBUI_PORT=8082
      - TORRENTING_PORT=6881
    volumes:
      - qbittorrent_conf:/config
      - $VOL_PATH/data/downloads:/downloads:z #optional
    ports:
      - 8082:8082
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped
    networks:
      - homelab

  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - GITEA__server__ROOT_URL="http://localhost/gitea"
    restart: always
    volumes:
      - $VOL_PATH/data/gitea:/data:z
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3000:3000"
      - "222:22"
    networks:
      - homelab

  jellyfin:
    image: jellyfin/jellyfin
    environment:
      - BaseUrl=/jellyfin
    container_name: jellyfin
    devices:
      - /dev/dri:/dev/dri
    group_add:
      - "992"  # Change this to match your render group ID
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    volumes:
      - $VOL_PATH/jellyfin/config:/config:z
      - $VOL_PATH/data/media:/media:z
      - jellyfin_cache:/cache
    restart: 'unless-stopped'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    networks:
      - homelab

  bookstack_db:
    image: lscr.io/linuxserver/mariadb:latest
    container_name: bookstack_db
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - MYSQL_ROOT_PASSWORD=supersecretroot   # change this
      - MYSQL_DATABASE=bookstackapp
      - MYSQL_USER=bookstack
      - MYSQL_PASSWORD=supersecretpassword    # change this
    volumes:
      - $VOL_PATH/data/bookstack/db:/config:z
    restart: unless-stopped
    networks:
      - homelab

  bookstack:
    image: lscr.io/linuxserver/bookstack:latest
    container_name: bookstack
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - APP_URL=http://homelab.local:8081/bookstack
      - DB_HOST=bookstack_db
      - DB_PORT=3306
      - DB_USERNAME=bookstack
      - DB_PASSWORD=supersecretpassword
      - DB_DATABASE=bookstackapp
      - APP_KEY=base64:KfUnk1ey+L+Infw+S8jFvTdRLxM5mwJBepNzA7Dkbh8=
    volumes:
      - $VOL_PATH/data/bookstack/app:/config:z
    ports:
      - 6875:80
    restart: unless-stopped
    depends_on:
      - bookstack_db
    networks:
      - homelab

  kiwix:
    image: ghcr.io/kiwix/kiwix-serve:latest
    container_name: kiwix
    volumes:
      - $VOL_PATH/data/zim-files:/data:z
    command: "--urlRootLocation /kiwix *.zim"
    restart: unless-stopped
    networks:
      - homelab

  file-browser:
    image: filebrowser/filebrowser:latest
    container_name: files
    user: "0:0"
    ports:
      - "8080:80"
    volumes:
      - $VOL_PATH/data:/srv/data
      - file_conf:/srv/config
      - file_db:/database.db
      - file_json:/.filebrowser.json
    environment:
      - PUID=1000
      - PGID=1000
    command: --baseurl /files
    restart: unless-stopped
    networks:
      - homelab

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - SONARR__SERVER__URLBASE=/sonarr
    volumes:
      - sonarr_conf:/config
      - $VOL_PATH/data/media/show:/tv #optional
      - $VOL_PATH/data/downloads/:/downloads #optional
    ports:
      - 8989:8989
    restart: unless-stopped
    networks:
      - homelab

volumes:
  qbittorrent_conf:
  jellyfin_cache:
  file_conf:
  file_db:
  tailscale-data:
  file_json:
  sonarr_conf:

networks:
  homelab:
    driver: bridge
