
services:
  db:
    image: mariadb
    container_name: db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASS}
    volumes:
      - db_data:/var/lib/mysql
      - ./mariadb/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    networks:
        - homelab

  nextcloud:
    image: nextcloud
    container_name: nextcloud
    restart: unless-stopped
    user: "33:33"  # www-data
    environment:
      MYSQL_PASSWORD: ${DB_PASS}
      MYSQL_USER: ${DB_USER}
      MYSQL_DATABASE: nextcloud
      MYSQL_HOST: db
      NEXTCLOUD_ADMIN_USER: ${NXT_USER}
      NEXTCLOUD_ADMIN_PASSWORD: ${NXT_PASS}
      NEXTCLOUD_TRUSTED_DOMAINS: '*'
      APACHE_HTTP_PORT_NUMBER: 81  # Try this env var first
    volumes:
      - nextcloud_data:/var/www/html
      - ./shared_media:/media
      - ./nextcloud/post_install.sh:/docker-entrypoint-hooks.d/post-installation/init.sh
    expose:
      - 80
    depends_on:
      - db
    networks:
        - homelab

  gitea:
    image: docker.gitea.com/gitea:1.25.1
    container_name: gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - GITEA__server__ROOT_URL="http://localhost/gitea"
      - GITEA__server__DOMAIN=localhost
      - GITEA__database__DB_TYPE=mysql
      - GITEA__database__HOST=db:3306
      - GITEA__database__NAME=gitea
      - GITEA__database__USER=${DB_USER}
      - GITEA__database__PASSWD=${DB_PASS}
    restart: always
    networks:
      - homelab
    volumes:
      - gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3000:3000"
      - "222:22"
    depends_on:
      - db

  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    restart: unless-stopped
    user: 1000:1000
    environment:
      - BaseUrl=/jellyfin
    ports:
      - 8096:8096
      - 8920:8920  # optional for https
      - 7359:7359/udp  # for DLNA discovery
    volumes:
      - jellyfin_config:/config
      - jellyfin_cache:/cache
      - ./shared_media:/media
    networks:
        - homelab

  tricount:
    build: ./tricount/
    container_name: tricount
    networks:
      - homelab
    ports:
      - "8080:8080"

  nginx:
    image: nginx
    container_name: nginx
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/ssl/nginx.crt:/etc/nginx/ssl/cert.crt:ro
      - ./nginx/ssl/nginx.key:/etc/nginx/ssl/cert.key:ro
    depends_on:
      - nextcloud
    networks:
        - homelab
  
volumes:
  db_data:
  nextcloud_data:
  redis_data:
  shared_media:
  jellyfin_config:
  jellyfin_cache:
  gitea:
  navi-data:

networks:
  homelab:
    driver: bridge
